body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F4F1DE;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main {
width: 100%;
height: 50vh;
background-color:#3B3C36 ;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
overflow: hidden;
}
.addTaskBtn , .logoutBtn {
    outline: none;
    border: none;
    padding: 10px 18px;
    background-color: #D2691E !important;
    border-radius:5px;
    color: #fff;
}